<!doctype html>
<title>{% block title %}{% endblock %} | Competition Tracker</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="/">Competition Tracker</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Competitions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('team.index') }}">Teams</a>
    </li>
  </ul>
  <ul class="navbar-nav">
    {% if g.user %}
    <span class="navbar-text">{{ g.user['username'] }}</span>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
    </li>
    {% else %}
    <li><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
    <li><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a></li>
    {% endif %}
  </ul>
</nav>
<section class="container mt-5 pt-4">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
<script src="{{ url_for('static', filename='js/wizardry.js') }}"></script>