{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Manage Team{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('team.team_create') }}">New</a>
  {% endif %}
{% endblock %}


{% block content %}
  <form method="post" id="team">
    <div class="form-group">
      <label for="team_name">Team Name</label>
      <input type="team_name" class="form-control" name="team_name" id="team_name" required>
    </div>
    <div class="form-group">
      <label for="team_size">Team Size</label>
      <input type="number" class="form-control" name="team_size" id="team_size" value="0" required>
    </div>
    <div class="form-group">
      <label for="season">Season</label>
        <select class="form-control member_selection" id="season" name="season">
          <option value="" selected disabled>Please Select</option>
            <option value="2019/20">2019/20</option>
            <option value="2020/21">2020/21</option>
        </select>
    </div>
    <!-- Members -->
    <div id="members">
		<div class="form-group">
			<label for="Member">Member</label>
			<select class="form-control member_selection" id="Member" name="member_selection">
			  <option value="" selected disabled>Please Select</option>
              {% for user in users %}
                <option value="{{user['id']|safe}}">{{ user['first_name']|safe }} {{ user['surname']|safe}}</option>
              {% endfor %}
			</select>
		</div>
	</div>
	<button class="btn btn-primary" id="add_member" value="Add Member">Add Member</button>
	<button class="btn btn-danger" id="remove_last" value="Remove Member">Remove Member</button>
    <input class="btn btn-primary" type="submit" value="Create">
  </form>
  <script>
    var new_member = '<div class="form-group"><label for="Member">Member</label><select class="form-control member_selection" name="member_selection"><option selected disabled>Please Select</option>
      {%- for user in users -%}
        <option value="{{user['id']|safe}}">{{- user['first_name']|safe}} {{user['surname']|safe-}}</option>
      {%- endfor -%}
      </select></div>'


  </script>
{% endblock %}