{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Range Booking{% endblock %}</h1>
{% if g.user.permission_level == "admin" %}

{% endif %}
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}"/>

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Indoor (25m)</h3>
        <a href="{{url_for('booking.planner', range='25m')}}" class="btn btn-primary disabled" role="button" aria-disabled="true">Book a firing point</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Outdoor (50m+)</h3>
        <a href="{{url_for('booking.planner', range='50m')}}" class="btn btn-primary">Book a firing point</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}