{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Competitions{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('competition.comp_create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for competition in competitions %}
    <article class="comp">
      <header>
        <div>
          <h2>{{ competition['competition_name'] }} <small>{{competition['season']}}</small></h2>
        </div>
      </header>
      {% if competition['rounds'] %}
        <div class="rounds_and_results">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>score</th>
              </tr>
            </thead>
            <tbody>
              {% for round in range(competition['rounds']) %}
              <tr>
                <td>{{ loop.index }}</td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}