{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create User{% endblock %}</h1>
  {% if g.user.permission_level == "admin" %}
<!--    <a class="action" href="{{ url_for('competition.comp_create') }}">New Competition</a>-->
  {% endif %}
<!--  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>-->
<!--  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}"/>-->
{% endblock %}

{% block content %}
{% if g.user.permission_level == "admin" %}
    <a class="action" href="{{ url_for('competition.comp_create') }}">Add User</a>
{% endif %}
    <form action="{{url_for('user.create_user')}}" method="POST">
        <div class="form-group">
          <label for="first_name">First Name:</label>
          <input type="text" class="form-control" id="first_name" name="first_name" value="">
        </div>
        <div class="form-group">
          <label for="surname">Surname:</label>
          <input type="text" class="form-control" id="surname" name="surname" value="">
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="username" value="">
        </div>
        <div class="form-group">
          <label for="permission_level">Access level:</label>
          <input type="text" class="form-control" id="permission_level" name="permission_level" value="">
        </div>
        <button class="btn btn-success" type="submit">Update</button>
    </form>
{% endblock %}