{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Competition{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('competition.comp_create') }}">New</a>
  {% endif %}
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}"/>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
      <label for="competition_name">Competition Name</label>
      <input type="competition_name" class="form-control" name="competition_name" id="competition_name" required value="{{data.competition_name}}">
    </div>
    <div class="form-group">
      <label for="season">Season</label>
      <input type="text" class="form-control" name="season" id="season" required value="{{data.season}}">
    </div>
    <div class="form-group">
      <label for="rounds">Number of Rounds</label>
      <input type="number" class="form-control" name="rounds" id="rounds" required value="{{data.rounds}}">
    </div>
    {% for round in range(data.rounds) %}
    {% set due = 'round{}_due'.format(loop.index) %}
    <div class="form-group">
      <label for="round{{loop.index}}_due">Round {{loop.index}} due</label>
      <input class="form-control round_due" type="text" name="round{{loop.index}}_due" id="round{{loop.index}}_due" required value="{{ data.__getitem__(due) }}">
    </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Update">
  </form>

<script>
  $(function(){
    //$('.round_due')
    $('.round_due').each(function(){
      $(this).datepicker({
        setDate: $(this).val(),
        dateFormat: 'yy-mm-dd'
      });
    });
    $('.round_due').datepicker(["setDate", $(this).val()],["option", "dateFormat", 'yy-mm-dd']);
  });
</script>
{% endblock %}